:root {
    --beige: #F2F2E9;
    --aqua: #699BAA;
    --navi: #2D3C50;
    --red: #DC5037;
    --brown: #4B3223;
    --moss: #82A078;
    --forest: #234B37;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}