// .overflow-wrapper {
//     outline: 1px solid #ff00cc;
// }

vc-dimension{
    outline: 1px solid #ff00cc;
    display: flex;
    aspect-ratio: 16 / 9;

    // margin-top: 110vh;
    // margin-bottom: 60vh;
//     overflow: hidden;

//     .overflow-wrapper {
//         // width: 40%;
//         overflow: hidden;
//         outline:1px solid #50077a;
//     }
}