vc-reader {
    outline: 1px solid hsl(46, 100%, 40%);
    position: relative;
    display: flex;

    span {
        // background: rgba(255, 0, 204, 0.26);
        // color: #fff;
        // &.current {
        //     background: rgba(255, 0, 204, 1);
        // }
    }
}